@import '../../../assets/variables.scss';

.banner {
  width: 500px;
  height: 100px;
  background-color: $primary-color;
  border-radius: 20px;
  text-align: center;
  margin: 0 auto;
  display: table;
}

.title {
  display: table-cell;
  vertical-align: middle;
}
