@import './assets/variables.scss';
/* You can add global styles to this file, and also import other style files */
.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.dark-gray {
  color: $font-color;
}

.text-center {
  text-align: center;
}
